<%= render :partial => 'admin/shared/amazon_sub_menu' %>

<div class='toolbar'>
  <ul class='actions'>
    <li>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= t("amazon_products") %></h1>

<table class="index">
  <thead data-hook="admin_amazon_products_index_headers">
    <th><%= t("image") %></th>
    <th><%= t("amazon_id") %></th>
    <th><%= t('price') %></th>
    <th><%= t("name") %></th>
    <th data-hook="admin_amazon_products_index_header_actions">&nbsp;</th>
  </thead>
  <tbody>
    <% @amazon_products.each do |product|%>
      <tr data-hook="admin_amazon_products_index_rows">
        <td><%=  %></td>
        <td><%= product.id %></td>
        <td><%= product.price %></td>
        <td><%= link_to product.name, product.url, :target => '_blank' %></td>
        <td><%= link_to t(:add_to_store), admin_amazon_products_path(:asin => product.id), :method => 'POST' %></td>
      </tr>
      <tr data-hook="admin_amazon_products_index_rows">
        <td colspan='5'><%= product.inspect%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- <% content_for :sidebar do %>
  <div class="box" data-hook="admin_amazon_products_index_search">
    <h3><%= t(:search) %></h3>
    <% @search = Product.search %>
    <%= form_for [:admin, @search] do |f| %>
      <p>
        <%= t(:name) %><br />
        <%= f.text_field :name_contains, :size =>18 %>
      </p>
      <div data-hook="admin_amazon_products_index_search_buttons">
        <p><%= button t(:search) %></p>
      </div>
    <% end %>
  </div>
<% end %> -->
